﻿@model WebApplication6.Models.Products
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.ProductName)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.ProductName)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.QuantityPerUnit)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.QuantityPerUnit)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.UnitPrice)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.UnitPrice)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.UnitsInStock)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.UnitsInStock)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.UnitsOnOrder)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.UnitsOnOrder)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.ReorderLevel)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.ReorderLevel)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Discontinued)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Discontinued)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Categories.CategoryName)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Categories.CategoryName)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Suppliers.CompanyName)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Suppliers.CompanyName)
    </dd>

</dl>