﻿@model WebApplication6.Models.Products

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Products</h4>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <h3>完整版DisplayForModel</h3>
            @Html.DisplayForModel()
        </div>
        <div class="col-md-6">
            <h3>簡單版DisplayForModel</h3>
            @Html.DisplayForModel("Products.簡單版")
        </div>
    </div>

</div>

<hr />
@* 1.使用Action *@
@*@Html.Action("Index", "Order_Details", new { ProductID = Model.ProductID })*@

@*2.使用Partial*@
@Html.Partial("ProductOrderDetailPartial",Model.Order_Details.ToList())

    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ProductID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
