﻿@model IEnumerable<WebApplication6.Models.Products>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@Html.DropDownList(
    "DisContinued", 
    ViewBag.Sel as SelectList,
    "--請選擇--", 
    new { onchange = "location.search='?DisContinued='+$('#DisContinued').val();" }
)

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Resources.Product.ProductName
        </th>
        <th>
            @Resources.Product.QuantityPerUnit
        </th>
        <th>
            @Resources.Product.UnitPrice
        </th>
        <th>
            @Resources.Product.UnitsInStock
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitsOnOrder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReorderLevel)
        </th>
        <th>
            @Resources.Product.Discontinued
        </th>
        <th>
            @Resources.Product.CategoryName
        </th>
        <th>
            @Resources.Product.CompanyName
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuantityPerUnit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitsInStock)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitsOnOrder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReorderLevel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Discontinued)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Categories.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Suppliers.CompanyName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProductID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProductID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProductID })
        </td>
    </tr>
}

</table>
