﻿
@{
    ViewBag.Title = "ComplexBinding";
}

<h2>複雜Model Binding</h2>
<ol>
    <li>@Html.ActionLink("Example1", "Complex1", "MB", null, new { target = "_blank" })</li>
    <li>@Html.ActionLink("Example2", "Complex2", "MB", null, new { target = "_blank" })</li>
    <li>@Html.ActionLink("Example3", "Complex3", "MB", null, new { target = "_blank" })</li>
    <li>@Html.ActionLink("Example4", "Complex4", "MB", null, new { target = "_blank" })</li>
</ol>

<hr />
<h3>Example 1：以ViewModel做Model Binding</h3>
<img src="~/Content/complex1.png" alt="" />
<img src="~/Content/complex2.png" alt="" />
<img src="~/Content/complex3.png" alt="" />
<hr />
<h3>Example 2：同時對兩個ViewModel做Model Binding</h3>
<img src="~/Content/complex4.png" alt="" />
<img src="~/Content/complex5.png" alt="" />
<img src="~/Content/complex6.png" alt="" />
<img src="~/Content/complex7.png" alt="" />
<hr />
<h3>Example 3：符合條件的才做Model Binding</h3>
一樣透過範例2的表單來送出資料
<img src="~/Content/complex8.png" alt="" />
<img src="~/Content/complex9.png" alt="" />
<img src="~/Content/complex10.png" alt="" />

<hr />
<h3>Example 4：透過IList來做多個的Model Binding</h3>
<img src="~/Content/complex11.png" alt="" />
<img src="~/Content/complex12.png" alt="" />
<img src="~/Content/complex13.png" alt="" />
<img src="~/Content/complex14.png" alt="" />

