﻿
@{
    ViewBag.Title = "ContentResult";
}

<h2>ContentResult</h2>
<ol>
    <li>@Html.ActionLink("指定回應內容","Content1","AR",null,new {target="_blank"})</li>
    <li>@Html.ActionLink("指定內容類型MIME TYPE", "Content2", "AR", null, new { target = "_blank" })</li>
    <li>@Html.ActionLink("指定內容編碼", "Content3", "AR", null, new { target = "_blank" })</li>
</ol>

