﻿
@{
    ViewBag.Title = "CustomError";
}

<h2>@Html.ActionLink("自訂錯誤頁面","Index","Oops",null,new {target="_blank"})</h2>
<img src="~/Content/customError01.png" alt="" />
<img src="~/Content/customError02.png" alt="" />
<img src="~/Content/customError03.png" alt="" />
<img src="~/Content/customError04.png" alt="" />


