﻿
@{
    ViewBag.Title = "DataTips";
}

<h2>DataTips</h2>
<ol>
    <li>釘選(絕對定位)</li>
    <li>浮動(相對定位)</li>
    <li>匯入匯出</li>
    <li>註解</li>
</ol>
<img src="~/Content/DataTips1.png" alt="" />
<img src="~/Content/DataTips2.png" alt="" />
<img src="~/Content/DataTips3.png" alt="" />
<img src="~/Content/DataTips4.png" alt="" />