﻿
@{
    ViewBag.Title = "DataTransferResult";
}

<h3>
    接收資料後放置於ViewBag
</h3>

<ol>
    <li>TempData：@ViewBag.MSG1</li>
    <li>ViewData：@ViewBag.MSG2</li>
    <li>Session：@ViewBag.MSG3</li>
</ol>

<h3>直接取用變數值</h3>
<ol>
    <li>TempData：@TempData["MSG"]</li>
    <li>ViewData：@ViewData["MSG"]</li>
    <li>Session：@Session["MSG"]</li>
</ol>

<h3>設定ViewData後以ViewBag取用</h3>
<ol>
    <li>ViewBag：@ViewBag.TEST</li>
    <li>ViewData：@ViewData["TEST"]</li>
</ol>

<h3>結論</h3>
<ol>
    <li>ViewData存放的資料無法跨Action使用</li>
    <li>TempData、Session皆透過Session底層實作，故可以跨Action</li>
    <li>TempData特性為資料被取用則移除，若未被使用，則資料保存時間與預設Session時間相同</li>
    <li>ViewBag與ViewData本質上是一樣的東西</li>
</ol>

<h3>TempData實際應用 Post->Redirect->Get</h3>
<p>可用來防止使用者重複送出表單：透過HTTP Post 送出資料，處理完成之後，立即轉向另一個網址，最後以HTTP Get取得轉址後的頁面</p>
<ol>
    <li>表單接收頁面(與資料庫更新資料)動作完畢後，將原先預計要顯示在頁面上的結果存放在TempData內，並直接導向到結果頁面</li>
    <li>結果頁面判斷TempData若不存在，則導回其他頁面；存在則直接顯示結果</li>
</ol>


@Html.ActionLink("Back To DataTransfer","DataTransfer","Home")