﻿<div class="row">
    <h3>VS2013套件</h3>
    <ol>
        <li>@Html.ActionLink("Web Essentials 2013------", "WebEssentials2013")</li>
        <li><a href="https://visualstudiogallery.msdn.microsoft.com/c6d1c265-7007-405c-a68b-5606af238ece" target="_blank">VS Commands 2013</a></li>
    </ol>
    <h3>功能介紹</h3>
    <ol>
        <li>@Html.ActionLink("中斷點", "中斷點")</li>
        <li>@Html.ActionLink("DataTips", "DataTips")</li>
        <li>@Html.ActionLink("工具箱", "工具箱")</li>
        <li>@Html.ActionLink("視窗分割", "視窗分割")</li>
        <li>@Html.ActionLink("工作清單", "工作清單")</li>
        <li>@Html.ActionLink("條件式編譯", "條件式編譯")</li>
    </ol>
    <h3>專案實作</h3>
    <ol>
        <li>@Html.ActionLink("EF DB First", "DBFirst")</li>
        <li>@Html.ActionLink("Model：預儲程序、TSQL、EF", "ModelQuery")</li>
        <li>Controller：<a href="https://msdn.microsoft.com/zh-tw/library/aa691094(v=vs.71).aspx" target="_blank">條件式編譯</a></li>
        <li>View</li>
    </ol>
    <hr />
    <h3>參考連結</h3>
    <ol>
        <li><a href="https://msdn.microsoft.com/zh-tw/vstudio/hh220638.aspx" target="_blank">VS2010開發技巧文章</a></li>
        <li><a href="http://blog.miniasp.com/category/VS2010-Tips.aspx" target="_blank">保哥部落格 VS2010 Tips</a></li>
        <li><a href="https://www.visualstudio.com/zh-tw/downloads/download-visual-studio-vs.aspx" target="_blank">VS2013 Community Update4</a></li>
        <li><a href="https://northwinddatabase.codeplex.com/" target="_blank">NorthWind Database</a></li>
    </ol>
    <p class="text-muted">
        如果真的懶的下載，公共資料夾內通通都有\\10.10.1.1\研發部門各式文件\交接資料\ART\開發工具
    </p>
</div>
