﻿<div class="row">
    <h3>Model</h3>
    <ol>
        <li>@Html.ActionLink("擴充資料模型","擴充資料模型")</li>
        <li>@Html.ActionLink("Data Annotations", "表單驗證")</li>
        <li>@Html.ActionLink("Input Validation", "InputValidation")</li>
        <li>@Html.ActionLink("Model Validation", "ModelValidation")</li>
    </ol>
    <h3>Routing</h3>
    <ol>
        <li>@Html.ActionLink("網址路由對應", "Routing")</li>
    </ol>
    <h3>@Html.ActionLink("多語系", "多語系")</h3>
    <ol>
        <li>資源檔實作</li>
        <li>依據使用者瀏覽器語系變更網站語系</li>
        <li>使用者可自行選擇網站語系</li>
    </ol>
    <hr />
    <h3>參考連結</h3>
    <ol>
        <li><a href="http://mvc.keigen.net/2012/02/blog-post_13.html" target="_blank">asp.net mvc 自學日誌 多語系</a></li>
        <li><a href="http://blog.miniasp.com/post/2009/06/02/Auto-language-detection-by-browser-lang-settings-in-ASPNET.aspx" target="_blank">如何讓 ASP.NET 依據瀏覽器指定的語系自動選用資源檔</a></li>
        <li><a href="http://stackoverflow.com/questions/9555069/executecore-in-base-class-not-fired-in-mvc-4-beta" target="_blank">ExecuteCore() in base class not fired in MVC 4 beta</a></li>
        <li><a href="http://blog.miniasp.com/post/2011/08/01/ASPNET-MVC-Developer-Note-Part-21-Routing-Concepts-and-Skills.aspx" target="_blank">ASP.NET MVC 開發心得分享 (21)：Routing 觀念與技巧</a></li>
    </ol>
</div>
