﻿<div class="row">
    <h3>Action Result</h3>
    <ol>
        <li>EmptyResult：沒什麼好說的，看完這篇(<a href="http://blog.miniasp.com/post/2010/01/04/ASPNET-MVC-Developer-Note-Part-14-Implement-HTTP-301-Moved-Permanently.aspx" target="_blank">實做 HTTP 301 永久轉向</a> )就懂了</li>
        <li>@Html.ActionLink("ContentResult", "ContentResult", null, new { target = "_blank" })</li>
        <li>@Html.ActionLink("JavaScriptResult", "JavaScriptResult", null, new { target = "_blank" })</li>
        <li>@Html.ActionLink("HttpStatusCodeResult", "HttpStatusCodeResult", null, new { target = "_blank" })</li>
        <li>@Html.ActionLink("RedirectResult and RedirectToRouteResult", "RedirectResult", null, new { target = "_blank" })</li>
        <li>@Html.ActionLink("FileResult","FileResult",null,new {target="_blank"})</li>
        <li>@Html.ActionLink("JSONResult", "JSONResult", null, new { target = "_blank" })</li>
        <li>@Html.ActionLink("ViewResult", "ViewResult", null, new { target = "_blank" })</li>
    </ol>
</div>
