﻿<div class="row">

    <h3>傳遞資料的方式</h3>
    <ol>
        <li>@Html.ActionLink("透過Request","RQ","Home",null,new {target="_blank"})</li>
        <li>@Html.ActionLink("簡單Model Binding","SimpleBinding","Home",null,new {target="_blank"})</li>
        <li>@Html.ActionLink("複雜Model Binding","ComplexBinding","Home",null,new {target="_blank"})</li>
        <li>@Html.ActionLink("延遲驗證","TryUpdateModel","Home",null,new {target="_blank"})</li>
    </ol>
    <h3>@Html.ActionLink("ViewData、ViewBag、TempData", "DataTransfer", "Home", null, new { target = "_blank" })</h3>
    <h3>@Html.ActionLink("MVC生命週期簡易版", "LifeCycleEazy", "Home", null, new { target = "_blank" })</h3>
    <h3>@Html.ActionLink("傳遞資料給View", "DataTrans", "Home", null, new { target = "_blank" })</h3>
    <h3>@Html.ActionLink("自訂錯誤頁面", "CustomError", "Home", null, new { target = "_blank" })</h3>
    <hr />
    <h3>參考連結</h3>
    <ol>
        <li><a href="http://haacked.com/archive/2008/10/23/model-binding-to-a-list.aspx/" target="_blank">Model Binding To A List</a></li>
        <li><a href="http://kevintsengtw.blogspot.tw/2013/01/aspnet-mvc-validateantiforgerytoken.html" target="_blank">ASP.NET MVC - ValidateAntiForgeryToken 與 自定 HandleError 處理顯示客製的錯誤訊息頁</a></li>
    </ol>
</div>
