﻿<div class="row">
    <ol>
        <li>@Html.ActionLink("MVC生命週期", "LifeCycle", "Home", null, new { target = "_blank" })</li>
        <li>@Html.ActionLink("自訂過濾器", "Filter", "Home", null, new { target = "_blank" })</li>
        <li>@Html.ActionLink("Glimpse", "Glimpse", "Home", null, new { target = "_blank" })</li>
        <li><a href="http://blog.miniasp.com/post/2013/03/12/ASPNET-MVC-4-and-ELMAH-Integration.aspx" target="_blank">ELMAH</a></li>
    </ol>
</div>
