﻿<div class="row">
    <h3>@Html.ActionLink("表單驗證實作", "表單驗證實作", "Home", null, new { target = "_blank" })</h3>
    <h3>@Html.ActionLink("主版頁面框架", "主版頁面框架", "Home", null, new { target = "_blank" })</h3>
    <h3>@Html.ActionLink("套版練習", "套版練習", "Home", null, new { target = "_blank" })</h3>
</div>
