﻿
@{
    ViewBag.Title = "FileResult";
}

<h2>@Html.ActionLink("FileResult","ShowPIC","AR",null,new {target="_blank"})</h2>
<ol>
    <li>回應檔案類型由MINE TYPE指定</li>
    <li>可指定實體路徑、Byte[]</li>
    <li>Byte[]可透過System.IO.ReadAllBytes處理</li>
    <li>要抓網路上資料可透過WebClient給予URL</li>
    <li>指定下載檔案名稱可額外給予第三個參數</li>
    <li>支援中文檔名，但IE8就不要想了，不過也有解法，透過URLEncode處理</li>
</ol>
<img src="~/Content/FileResult1.png" alt="" />
<img src="~/Content/FileResult2.png" alt="" />

<h3>補充說明，既然都會檔案下載了，順便學一下檔案上傳吧</h3>
<h3>@Html.ActionLink("上傳檔案實作範例","Upload","AR",null,new {target="_blank"})</h3>
<img src="~/Content/FileResult3.png" alt="" />
<img src="~/Content/FileResult4.png" alt="" />