﻿
@{
    ViewBag.Title = "Filter";
}
<p class="text-primary">
    可將重複性高的CODE，往前搬移到ActionFilter內作封裝，例如LOG紀錄。
</p>
<img src="~/Content/Filter1.png" alt="" />
<img src="~/Content/Filter2.png" alt="" />
<hr />


<h3>動作名稱選擇器/動作方法選擇器</h3>
<ol>
    <li>
        ActionNameSelectorAttribute
        <ol>
            <li>[ActionName(“About”)]</li>
        </ol>
    </li>
    <li>
        ActionMethodSelectorAttribute
        <ol>
            <li>[NonAction]</li>
            <li>[AcceptVerbs(“POST”)]</li>
            <li>[HttpGet]/[HttpPost]/[HttpDelete]/[HttpPut]</li>
            <li>[HttpHead]/[HttpOptions]/[HttpPatch]</li>
        </ol>
    </li>
</ol>
<p class="text-muted">這些不是動作過濾器但一樣套用在Action上面</p>
<hr />
<h3>授權過濾器</h3>
<ol>
    <li>
        授權控制
        <ol>
            <li>[Authorize]</li>
            <li>[AllowAnonymous]</li>
        </ol>
    </li>
    <li>
        安全網頁
        <ol>
            <li>[RequireHttps]</li>
        </ol>
    </li>
    <li>
        輸入驗證
        <ol>
            <li>[ValidateInput]</li>
            <li>[ValidateAntiForgeryToken]</li>
        </ol>
    </li>
    <li>
        動作篩選
        <ol>
            <li>[ChildActionOnly]</li>
        </ol>
    </li>
</ol>
<hr />
<h3>例外過濾器</h3>
<ol>
    <li>[HandleError]</li>
    <li>
        Web.Config設定正確，該屬性才會生效
        <ol>
            <li>customErrors mode = on 或是RemoteOnly</li>
        </ol>
    </li>

    <li>
        預設錯誤頁面(ViewName=“Error”)
        <ol>
            <li>/Views/[Controller]/Error.cshtml</li>
            <li>/Views/Shared/Error.cshtml</li>
        </ol>
    </li>
</ol>
<hr />
<h3>動作過濾器</h3>
<img src="~/Content/Filter3.png" alt="" />


