﻿
@{
    ViewBag.Title = "Glimpse";
}

<h2><a href="http://getglimpse.com/" target="_blank">Glimpse</a></h2>
<ol>
    <li>
        Install
        <ol>
            <li>Install-Package Glimpse.MVC5</li>
            <li>Install-Package Glimpse.EF6</li>
        </ol>
    </li>
    <li>
        Enable
        <ol>
            <li>Localhost/glimpse.axd</li>
        </ol>
    </li>
</ol>

