﻿
@{
    ViewBag.Title = "HttpStatusCodeResult";
}

<h2>System.Net.HttpStatusCode</h2>
<ol>
    <li>1xx：Information</li>
    <li>2xx：Successful</li>
    <li>3xx：Redirection</li>
    <li>4xx：Client Error</li>
    <li>5xx：Server Error</li>
</ol>
<hr />
<h3>example</h3>
<ol>
    <li>@Html.ActionLink("400", "Page400", "AR", null, new { target = "_blank" })</li>
    <li>@Html.ActionLink("404", "Page404", "AR", null, new { target = "_blank" })</li>
</ol>
