﻿@{
    ViewBag.Title = "Home Page";
}

<h3>@Resources.HomeSpeak.HelloWorld</h3>

<script>
  $(function () {
    $('#myTab a:last').tab('show')
  })
</script>
<ul class="nav nav-tabs" role="tablist" id="myTab">
    <li role="presentation" class="active"><a href="#Day1" aria-controls="Day1" role="tab" data-toggle="tab">Day1</a></li>
    <li role="presentation"><a href="#Day2" aria-controls="Day2" role="tab" data-toggle="tab">Day2</a></li>
    <li role="presentation"><a href="#Day3" aria-controls="Day3" role="tab" data-toggle="tab">Day3</a></li>
    <li role="presentation"><a href="#Day4" aria-controls="Day4" role="tab" data-toggle="tab">Day4</a></li>
    <li role="presentation"><a href="#Day5" aria-controls="Day5" role="tab" data-toggle="tab">Day5</a></li>
    <li role="presentation"><a href="#Day6" aria-controls="Day6" role="tab" data-toggle="tab">Day6</a></li>
    <li role="presentation"><a href="#Day7" aria-controls="Day7" role="tab" data-toggle="tab">Day7</a></li>
</ul>
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="Day1">@Html.Partial("Day1")</div>
    <div role="tabpanel" class="tab-pane" id="Day2">@Html.Partial("Day2")</div>
    <div role="tabpanel" class="tab-pane" id="Day3">@Html.Partial("Day3")</div>
    <div role="tabpanel" class="tab-pane" id="Day4">@Html.Partial("Day4")</div>
    <div role="tabpanel" class="tab-pane" id="Day5">@Html.Partial("Day5")</div>
    <div role="tabpanel" class="tab-pane" id="Day6">@Html.Partial("Day6")</div>
    <div role="tabpanel" class="tab-pane" id="Day7">Day 7 test</div>
</div>