﻿
@{
    ViewBag.Title = "InputValidation";
}

<h2>自訂欄位驗證</h2>
<ol>
    <li>建立新類別，如EvenNumberAttribute</li>
    <li>繼承DataTypeAttribute</li>
    <li>覆寫IsValid方法，實作驗證判斷</li>
</ol>

<img src="~/Content/InputValidation1.png" alt="" />
<img src="~/Content/InputValidation2.png" alt="" />

<p class="text-danger">
    也可繼承ValidationAttribute來做。
    但是太麻煩了我沒學喔~
</p>