﻿
@{
    ViewBag.Title = "JavaScriptResult";
}

<h2>JavaScriptResult</h2>
<ol>
    <li>本質上實作與ContentResult相同，只是已經指定了MIME TYPE</li>
    <li>
        範例：@Html.ActionLink("顯示時間", "ShowTime", "AR", null, new { target="_blank"})
    </li>
</ol>
