﻿
@{
    ViewBag.Title = "JSONResult";
}

<h2>JSONResult</h2>
<ol>
    <li>預設不允許HttpGet</li>
    <li>範例：@Html.ActionLink("透過EF取得Customer資料回傳JSON", "JsonResult", "AR", null, new { target = "_blank" })</li>
    <li>序列化錯誤原因：<a href="https://msdn.microsoft.com/zh-tw/library/system.data.objects.objectcontextoptions.lazyloadingenabled(v=vs.100).aspx" target="_blank">MSDN</a></li>
    <li><a href="http://blog.roodo.com/rocksaying/archives/2955557.html" target="_blank">JavaScript Hijacking and How to</a></li>
</ol>
