﻿@using WebApplication6.ViewModel
@model LoginVM
<div>
    @*如果↓表單的ReturnUrl沒給的話，就沒辦法導向使用者原先要求的頁面*@
    @using (Html.BeginForm("Login", "Home", new { ReturnUrl = Model.ReturnUrl },
        FormMethod.Post, new { autocomplete = "off", @class = "form-horizontal" })) {

        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">帳號</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.Account, new { @class = "form-control", placeholder = "Account" })
                @Html.ValidationMessageFor(m => m.Account)
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">密碼</label>
            <div class="col-sm-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                @Html.ValidationMessageFor(m => m.Password)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Sign in</button>
            </div>
        </div>
    }
</div>
