﻿
@{
    ViewBag.Title = "ModelQuery";
}


<h3>自訂TSQL查詢</h3>
<img src="~/Content/ModelQuery1.png" alt="" />

<h3>透過sp查詢</h3>
<img src="~/Content/ModelQuery2.png" alt="" />

<h3>EF Create</h3>
<pre>
Programer p = new Programer();
p.name=“art”;
p.phone=“25780908”;
p.ext=“212”;
DBEntities db = new DBEntities();
db.Programer.Add(p);
db.SaveChanges();
</pre>

<h3>EF Read</h3>
<pre>DBEntities db = new DBEntities();
var all = db.Programer.AsQueryable();
var one = all.Find(1); //Pkey
var some = all.Where(p=>p.Id==1);
var first = all.First(Lambda);
var first = all.FirstOrDefault(Lambda);
var single = all.Single(Lambda);
var single = all.SingleOrDefault(Lambda);
</pre>

<h3>EF Update</h3>
<pre>DBEntities db = new DBEntities();
var p = db.Programer.Find(1);
p.ext=“216”;
db.SaveChanges();
</pre>

<h3>EF Delete</h3>
<pre>DBEntities db = new DBEntities();
var p = db.Programer.Find(1);
db.Programer.Remove(p);
db.SaveChanges();
</pre>

<h3>EF效能調校</h3>
<span class="text-danger">執行原始查詢(無回傳)</span>
<pre>db.DataBase.ExecuteSqlCommand(String,params..)</pre>
<span class="text-danger">執行原始查詢(有回傳)</span>
<pre>db.DataBase.SqlQuery<t>(String,params…)</pre>
