﻿
@{
    ViewBag.Title = "ModelValidation";
}

<h2>模型驗證</h2>
<ol>
    <li>繼承IValidatableObject介面，並實作該介面的方法</li>
    <li>透過this保留字指定Model的屬性</li>
    <li>商業邏輯處理</li>
    <li>回傳ValidationResult</li>
    <li>yield return new ValidationResult(“XXX”,new string[]{“UnitPrice”})</li>
</ol>
<img src="~/Content/ModelValidation.png" alt="" />