﻿
@{
    ViewBag.Title = "RedirectResult";
}

<h2>RedirectResult</h2>
<img src="~/Content/RedirectResult.png" alt="" />
<ol>
    <li>@Html.ActionLink("HTTP301轉址","redir301","AR",null,new {target="_blank"})：永久(搜尋引擎判定為同一個網址，SEO相關資訊會累加到新網址)</li>
    <li>@Html.ActionLink("HTTP302轉址", "redir302", "AR", null, new { target = "_blank" })：暫時(搜尋引擎判定為兩個網址)</li>
    <li>參考資訊：<a href="http://www.elliance.com/aha/infographics/301-and-302-redirects-explained.aspx" target="_blank">301 and 302 Redirects Explained</a></li>
</ol>

<img src="~/Content/RedirectResult2.png" alt="" />
<img src="~/Content/RedirectResult3.png" alt="" />