﻿
@{
    ViewBag.Title = "Routing";
}

<h2>Routing</h2>
<p>
    <span class="text-danger">網址路由比對</span>
    <span class="text-primary">至少需取得Controller與Action路由變數</span>
</p>
<p>
    <span class="text-danger">執行Controller與Action</span>
    <span class="text-primary">透過Action方法取得ActionResult</span>
</p>
<p>
    <span class="text-danger">執行View並回傳結果</span>
    <span class="text-primary">透過RazorViewEngine或WebFormViewEngine</span>
</p>

<img src="~/Content/Routing.png" alt="" />

參考連結：
<ol>
    <li><a href="http://www.iis.net/learn/get-started/introduction-to-iis/introduction-to-iis-architecture" target="_blank">Introduction to IIS Architectures</a></li>
    <li><a href="http://icejuly.pixnet.net/blog/post/27181316-httpmodule%E8%88%87httphandler%E8%A9%B3%E8%A7%A3(%E8%BD%89%E8%BC%89)" target="_blank">httpmodule & httphandler</a></li>
</ol>

   

<img src="~/Content/Routing2.png" alt="" />
<img src="~/Content/Routing3.png" alt="" />
