﻿
@{
    ViewBag.Title = "SimpleBinding";
}

<h2>簡單Model Binding</h2>
<ol>
    <li>@Html.ActionLink("Example1","RQ2","MB",null,new {target="_blank"})</li>
    <li>@Html.ActionLink("Example2","Simple1","MB",null,new {target="_blank"})</li>
    <li>@Html.ActionLink("Example3", "Simple2", "MB", null, new { target = "_blank" })</li>
</ol>


