﻿
@{
    ViewBag.Title = "TryUpdateModel";
}

<h2>Bind限制可更新欄位</h2>
<ol>
    <li>Exclude拒絕(黑名單)</li>
    <li>Include包含(白名單)</li>
</ol>
<h3>UpdateModel</h3>
<h3>TryUpdateModel</h3>    
<ol>
    <li>@Html.ActionLink("FormCollection.AllKeys", "Complex5", "MB", null, new { target = "_blank" })</li>
    <li>安全性問題</li>
</ol>
    
<img src="~/Content/TryUpd1.png" alt="" />

<img src="~/Content/TryUpd2.png" alt="" />
<img src="~/Content/TryUpd3.png" alt="" />
<img src="~/Content/TryUpd4.png" alt="" />
<img src="~/Content/TryUpd5.png" alt="" />
    