﻿@model IEnumerable<WebApplication6.Models.Ten_Most_Expensive_Products_Result>

@{
    ViewBag.Title = "USP";
}

<h2>USP</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenMostExpensiveProducts)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenMostExpensiveProducts)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitPrice)
        </td>
    </tr>
}

</table>
