﻿
@{
    ViewBag.Title = "WebEssentials2013";
}
<link href="~/css/StyleSheet1.css" rel="stylesheet" />
<div class="row">
    <h3 class="test">WebEssentials2013</h3>
    <ol>
        <li><a href="http://vswebessentials.com/features/browserlink" target="_blank">Browser Link</a></li>
        <li>Design：直接在網頁上設計，直接點選【Design】選項後，在瀏覽器變更字樣。會同步在VS2013內調整</li>
        <li>Inspect：快速查找對應的View檔案</li>
        <li>F12 Changes：將調整完畢的自訂CSS內容回存，但是CSS必須是獨立檔案</li>
        <li>靜態網頁的Browser Link：<a href="http://www.asp.net/visual-studio/overview/2013/using-browser-link" target="_blank">Using Browser Link in Visual Studio 2013</a></li>
    </ol>
</div>
