﻿
@{
    ViewBag.Title = "中斷點";
}

<h2>中斷點</h2>
<ol>
    <li>可匯出XML</li>
    <li>從XML匯入</li>
    <li>顯示本次偵錯中被叫用次數</li>
    <li>可設置標籤</li>
    <li>可搜尋中斷點</li>
</ol>
<img src="~/Content/file.png" alt="" />
<img src="~/Content/中斷點2.png" alt="" />