﻿
@{
    ViewBag.Title = "主版頁面框架";
}

<h2>主版頁面框架</h2>
<h3>執行順序</h3>
<ol>
    <li>/Views/_ViewStart.cshtml</li>
    <li>/Views/Home/Index.cshtml</li>
    <li>/Views/Shared/_Layout.cshtml</li>
</ol>
<h3>主版頁面</h3>
<ol>
    <li>@@RenderSection(“footer”,required:false)</li>
    <li>@@RenderBody()</li>
</ol>

<h3>內容頁面</h3>
<pre>@@section footer{
    ……
}
</pre>



