﻿
@{
    ViewBag.Title = "倉儲模式";
}

<h3>Repository 產生器</h3>
<ol>
    <li>建立EDMX</li>
    <li>拖曳IRepository.EF6至Model目錄</li>
    <li><a href="https://github.com/danemorgridge/efrepo" target="_blank">EF Repository & Unit Of Work T4 Template</a></li>
    <li><a href="https://github.com/doggy8088/efrepo" target="_blank">Download</a></li>
</ol>
<hr />
<h3>參考連結</h3>
<ol>
    <li><a href="http://kevintsengtw.blogspot.tw/2012/10/aspnet-mvc-part1.html"target="_blank">ASP.NET MVC 專案分層架構 Part.1 初學者的起手式</a></li>
    <li><a href="http://www.cnblogs.com/leotsai/p/entity-framework-doesnt-need-additional-repository.html" target="_blank">博客园的大牛们，被你们害惨了，Entity Framework从来都不需要去写Repository设计模式</a></li>
</ol>

