﻿
@{
    ViewBag.Title = "多語系";
}

<h2>多語系</h2>

<img src="~/Content/多語系1.png" alt="" />

<h3>WebConfig</h3>
<ol>
    <li>指定語言特性為英文</li>
    <li>資源檔使用Product.en-US.resx</li>
</ol>
<img src="~/Content/多語系2.png" alt="" />
<img src="~/Content/多語系3.png" alt="" />
<img src="~/Content/多語系4.png" alt="" />


<h3>WebConfig</h3>
<ol>
    <li>不指定語言特性</li>
    <li>資源檔使用預設的Product.resx</li>
    <li>當然也可以使用Product.zh-TW.resx</li>
</ol>
<img src="~/Content/多語系5.png" alt="" />
<img src="~/Content/多語系6.png" alt="" />
<img src="~/Content/多語系7.png" alt="" />

<h3>欄位驗證套用多語系</h3>
<pre> [Required(ErrorMessageResourceType=typeof(Resources.Product), ErrorMessageResourceName="ProductNameRequired")]
        public string ProductName { get; set; }</pre>

<h3>顯示目前文化特性</h3>
<img src="~/Content/多語系8.png" alt="" />

<h3>變更目前執行緒語系</h3>
<img src="~/Content/多語系9.png" alt="" />

<hr />
<img src="~/Content/多語系10.png" alt="" />
<img src="~/Content/多語系11.png" alt="" />
<hr />
<h3>變更瀏覽器語言偏好</h3>
<img src="~/Content/多語系12.png" alt="" />

<hr />
<h3>多語系進階</h3>
<img src="~/Content/多語系進階1.png" alt="" />
<img src="~/Content/多語系進階2.png" alt="" />
<hr />
<img src="~/Content/多語系進階3.png" alt="" />
<img src="~/Content/多語系進階4.png" alt="" />
<img src="~/Content/多語系進階5.png" alt="" />
<hr />
<h3>View調用語法</h3>
<img src="~/Content/多語系進階6.png" alt="" />
<img src="~/Content/多語系進階7.png" alt="" />