﻿
@{
    ViewBag.Title = "套版練習";
}

<h2>套版練習</h2>

<ol>
    <li>先找個自己喜歡的版型，例如：<a href="https://github.com/kimlabs/gentelella" target="_blank">templatevamp</a>  demo：<a href="http://demo.kimlabs.com/gentelella/production/index.html" target="_blank">Here</a></li>
    <li>取得必要檔案加入專案，如CSS、IMG、JS</li>
    <li>將要套用版型html加入專案顯示</li>
    <li>建Controller，產生View，View清空，使用新複製的版型頁</li>
    <li>新複製的版型頁清空後將html複製過來並添加@RenderBody等區塊</li>
    <li>修正相對路徑，如img、js、css</li>
    <li>測試執行確認是否有誤，無誤後進行切版動作，分為版型、頁面主體</li>
    <li>測試後確認無誤，在view主體使用該版型</li>
</ol>