﻿
@{
    ViewBag.Title = "擴充資料模型";
}

<h2>擴充資料模型</h2>

<h3>開發步驟</h3>
<ol>
    <li>類別名稱加上MetaData</li>
    <li>建立Partial Class類別並套用MetadataType屬性[MetaDataType(typeof(Customers))]</li>
    <li>開始套用驗證屬性</li>
</ol>
<p class="alert alert-danger">
    EDMX欄位異動，擴充類別也需人工處理
</p>

<img src="~/Content/擴充資料模型1.png" alt="" />