﻿
@{
    ViewBag.Title = "表單驗證實作";
    var string1 = "<add key=\"ClientValidationEnabled\" value=\"true\" />";
    var string2 = "<add key=\"UnobtrusiveJavaScriptEnabled\" value=\"true\" />";

    var jsstr1 = "<script src=\"~/Scripts/jquery-2.1.0.js\"></script>";
    var jsstr2 = "<script src=\"~/Scripts/jquery.validate.js\"></script>";
    var jsstr3 = "<script src=\"~/Scripts/jquery.validate.unobtrusive.js\"></script>";


}

<h2>表單驗證實作</h2>
<ol>
    <li>
        確認Web.config裡appSettings區段中已有下面兩個設定
        <ol>
            <li>@string1</li>
            <li>@string2</li>
        </ol>
    </li>
    <li>
        NuGet
        <ol>
            <li>jQuery Validation</li>
            <li>Microsoft jQuery Unobtrusive Validation</li>
        </ol>
    </li>
    <li>
        引用套件js
        <ol>
            <li>@jsstr1</li>
            <li>@jsstr2</li>
            <li>@jsstr3</li>
        </ol>
    </li>
    <li>
        在Web.config的system.web區段裡定義
        <ol>
            <li><img src="~/Content/表單驗證實作1.png" alt="" /></li>
        </ol>
    </li>
    <li>
        定義Login ViewModel
        <img src="~/Content/表單驗證實作2.png" alt="" />
    </li>
    <li>Controller套用[Authorize]</li>
    <li>Login Action套用[AllowAnonymous]</li>
    <li>
        Controller登入
        <img src="~/Content/表單驗證實作3.png" alt="" />
    </li>
    <li>
        View
        <img src="~/Content/表單驗證實作4.png" alt="" />
    </li>
    <li>
        <img src="~/Content/表單驗證實作5.png" alt="" />
        <img src="~/Content/表單驗證實作6.png" alt="" />
        <img src="~/Content/表單驗證實作7.png" alt="" />
    </li>
</ol>
<h3>參考連結</h3>
<ol>
    <li><a href="http://www.dotblogs.com.tw/shadow/archive/2014/03/01/144191.aspx" target="_blank">[ASP.net MVC] ASP.net MVC整合FormsAuthentication表單驗證登入 - 簡易範例程式碼</a></li>
    <li><a href="http://www.dotblogs.com.tw/shadow/archive/2014/05/04/144960.aspx" target="_blank">[ASP.net MVC] 當jQuery Ajax呼叫遇上Login Timeout的處理</a></li>
    <li><a href="http://blog.miniasp.com/post/2008/02/21/Explain-Forms-Authentication-in-ASPNET-20.aspx" target="_blank">保哥-簡介 ASP.NET 表單驗證 (FormsAuthentication) 的運作方式</a></li>
    <li><a href="http://blog.kkbruce.net/2011/06/aspnet-20.html" target="_blank">ASP.NET 2.0 表單身份認證心得筆記</a></li>
</ol>