﻿
@{
    ViewBag.Title = "ShowTime";
    Layout = "";
}
<!DOCTYPE html>
<html>
<head>
    <title>JavaScriptResult Test</title>
    <script src="@Url.Action("getTime")"></script>
</head>
<body>
    <script>
        alert('PC Time:' + t);
    </script>
</body>
</html>


