﻿@{
    ViewBag.Title = "Upload";
}

<h2>Upload</h2>

<div>
    <span>@Html.Raw(TempData["Message"])</span>
    @using (Html.BeginForm("Upload", "AR", FormMethod.Post, new { enctype = "multipart/form-data" })) {
        <input type="file" id="file" name="file" />
        <input type="submit" value="Upload" />
    }
</div>


